.App{
  display: flex;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.bottun{
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-style: solid;
  border-radius: 15px;
  cursor: pointer;
}
li{
  font-size: 20px;
}
.demande{
  padding-top: 7px;
  padding-bottom: 7px;
}
p{
  font-size: 20px;

}
.mur{
  border-left: 7px solid rgb(71, 70, 70);
  height: 250px;
  display: inline-block;
  margin-top: 80px;
  border-radius: 50px;
}
