.App{
  display: flex;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.bottun{
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  
 
  
}
li{
  font-size: 20px;
}
.demande{
  padding-top: 7px;
  padding-bottom: 7px;
}
p{
  font-size: 20px;

}
.mur{
  border-left: 7px solid grey;
  height: 250px;
 
  display: inline-block;
  margin-top: 80px;
  border-radius: 50px;
}
